body {
    background: lightgreen; /* fallback color */
    background: linear-gradient( to bottom, white, lightgreen);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
}


.top_nav{
    list-style: none;
}



ul li{
    display: inline;
}

section{
    position:absolute;
    top:400px;
    left:100px;
    z-index: 500px;
}


/* creating the trapezium shape*/
.trapezium {
    height: 0;
    width: 100px;
    border-bottom: 40px solid green;
    border-left: 20px solid transparent;
    
}


.tabs {
    display: flex;
    flex-direction: row;
  }
  
  .tab {
      height: 0;
      width: fit-content;
      border-bottom: 40px solid #CCCCCC;
      border-radius: 10px;
      border-left: 20px solid transparent;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      box-sizing: border-box;
      display: block;
  }
  
  .tab:not(:first-child) {
      margin-left: -10px;
      z-index: 0;
  }
  
  .tab .label{
    padding: 10px;
    text-align: center;
    color: #444444;
  }
  
  .active {
    border-bottom: 40px solid #444444;
    z-index: 10;
  }
  .active .label{
    color: #ffffff;
  }

  
  
